/* CSS files add styling rules to your content */

body {
  font-family: 'Lora', serif;
  background:#ccffff;
}

p {
  font-size: 17px;
  margin-right: 150px;
  margin-left: 150px;
}

h1 {
  font-style: italic;
  color: #373fff;
}

/* ul {
  list-style-type:none;
  margin: 0;
  padding:0;
  overflow: hidden;
}
li a,.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .dropdown: hover .dropbtn {
  background-color: #009999;
}
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#00b3b3;
  min-width: 160px;
  z-index:1l
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a: hover {background-coplor: red;}
.dropdown:hober .dropdown-content {
  display: block;
}
*/
li{
    font-size: 18px;
    font-family:"Trebuchet MS"; 
}
li{
    list-style-type:none;
    margin:0;
    padding=0;
    overflow:hidden;
    background: #ffdb4d;
}
li{
    float:center;
}
li a{
    display:inline-flex;
    color:white;
    text-align: center;
    padding:16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background:#00b3b3;
}
.active{
    background:#009999;
}
