/* CSS files add styling rules to your content */

body {
  font-family: 'Lora', serif;
  background:#ccffff;
}

p {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin-right: 100px;
  margin-left: 100px;
}

h1 {
  font-style: italic;
  color: #373fff;
  font-size: 30px;
}


.navbar {
  overflow:hidden;
  background-color
}









/*li{
    font-size: 18px;
    font-family:"Trebuchet MS"; 
}
li{
    list-style-type:none;
    margin:0;
    padding=0;
    overflow:hidden;
    background: #ffdb4d;
}
li{
    float:center;
}
li a{
    display:inline-flex;
    color:white;
    text-align: center;
    padding:16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background:#00b3b3;
}
.active{
    background:#009999;
}
*/